<form class="form mat-elevation-z8">
    <h1>Novo Técnico</h1>
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Nome</mat-label>
        <input [(ngModel)]="tecnico.nome" [formControl]="nome" name="nome" matInput placeholder="Ex. Zé Cocheba" required>
        <mat-error *ngIf="nome.invalid">{{ validaNome() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
        <mat-label>CPF</mat-label>
        <input mask="000.000.000-99" [(ngModel)]="tecnico.cpf" [formControl]="cpf" name="cpf" matInput placeholder="Ex. 000.000.00.00" required>
        <mat-error>{{ validaCpf() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Telefone</mat-label>
        <input mask="(00)0000-0000" [(ngModel)]="tecnico.telefone" [formControl]="telefone" name="telefone" matInput placeholder="Ex. (00)0000-0000" required>
        <mat-error>{{ validaTelefone() }}</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Senha</mat-label>
        <input [(ngModel)]="tecnico.senha" [formControl]="senha" name="senha" matInput required>
        <mat-error>{{ validaSenha() }}</mat-error>
    </mat-form-field>

    <button class="mat-elevation-z8" (click)="create()" [disabled]="validaNome() || validaCpf() || validaTelefone() || validaSenha()" mat-stroked-button color="accent">Salvar</button>
    <button class="mat-elevation-z8" (click)="cancel()" mat-stroked-button color="warn">Cancelar</button>
</form>